body {
    margin: 0;
    padding: 0;
    font-family: "Inter", serif;
    background-color: var(--background);
}

*, *:before, *:after {
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
}

.top-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.top-nav-wrapper{

}
